@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

*[epub|type~="z3998:poem"],
*[epub|type~="z3998:song"],
*[epub|type~="z3998:verse"]{
	margin: 1em;
}

*[epub|type~="z3998:poem"] p,
*[epub|type~="z3998:song"] p,
*[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p,
*[epub|type~="z3998:song"] p + p,
*[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span,
*[epub|type~="z3998:song"] p span,
*[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br,
*[epub|type~="z3998:song"] br,
*[epub|type~="z3998:verse"] br{
	display: none;
}

section[epub|type~="epigraph"]{
	margin: auto;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
